<div class="container">
 
 <!-- <div class="alert alert-danger">
    <div class="col-md-12">
      <h1>New App</h1>
    </div>
  </div>-->
  <!--
  <div class="row">
    <div class="col-md-12">
      <app-my-first></app-my-first>
    </div>
  </div>
  <div class="row">
      <div class="col-md-12">
        <app-my-second>
            <div class="row">
                <div class="col-md-12">
                    <app-second-inner></app-second-inner>
                </div>
            </div>
        </app-my-second>
        </div>
  </div>
  <div class="row">
      <div class="col-md-12">
         <app-my-jumbo></app-my-jumbo>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12">
         <app-footer-txt></app-footer-txt>
      </div>
  </div>
  -->
 <!-- <app-local-ref>
    <h1 class="text-muted" #ttl>I am outsider</h1>
  </app-local-ref>
  <app-local-ref>
      <button class="btn btn-danger"> Okay</button>.
    </app-local-ref>-->
    <div class="row">
      <div class="col-md-12">
         <app-directives></app-directives>
      </div>
    </div>
</div>