<!--<div class="row">
  <div class="col-md-12" [ngClass]="{card : false, jumbotron: true  }">
    <h1 class="text-muted">Welcome to site</h1>    
  </div>
</div>
<div class="row" [ngStyle]="myStl">
  <div class="col-md-12" [ngStyle]="{border : '1px solid red'}">
    <h1>directive examples</h1>
  </div>
</div>-->

<h1>My First Attribute Directive</h1>

<h4>Pick a highlight color</h4>
<div>
  <input type="radio" name="colors" (click)="color='lightgreen'">Green
  <input type="radio" name="colors" (click)="color='yellow'">Yellow
  <input type="radio" name="colors" (click)="color='cyan'">Cyan
</div>
<p [appHighlight]="color">Highlight me!</p>

<p [appHighlight]="color" defaultColor="violet">
  Highlight me too!
</p>
<input type="text" [appHighlight]="color">

   <!-- <div class="row">
     <p  [appNavbardemo]="color">Angular Nav Example</p>
      <ul>
          <li><a>Home</a></li>
          <li ><a>About</a></li>
          <li ><a>Help</a></li>
      </ul>
    </div>
  -->
  
  <!--<dropdown placeholder="Colour..." list="colours" selected="colour" property="name"></dropdown>-->

  
  <div *ngFor='let bird of arrBirds'>
    <div>{{ bird.name }}</div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div *myStr="false"> Hi this is unless</div>
    </div>
  </div>
  
  <div class="row" >
    <div class="col-md-12" >
      <input type="text" [ckSizer]="'500px'">
    </div>
  </div>
  <div class="row" *ngIf="true">
    <div class="col-md-12" >
      <input type="text" [ckSizer]="'500px'">
    </div>
  </div>

  <ng-template [ngIf]="true">
    <div class="col-md-12" >
      <input type="text" [ckSizer]="'500px'">
    </div>
  </ng-template>
<!--
  <div class="row" *ngFor="let mb of mobs">
    <div class="col-md-12">
      {{mb.val}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ol>
        <li *ngFor="let mb of mobs;let ind = index;">
          <div *ngIf="mb.val=='Android'">{{mb.val}}</div>
        </li>
      </ol>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <div> <input type="text" [(ngModel)]="num"></div>
      <div [ngSwitch]="num">
        <div *ngSwitchCase="'1'">One</div>
        <div *ngSwitchCase="'2'">Two</div>
        <div *ngSwitchCase="'3'">Three</div>
        <div *ngSwitchCase="'4'">Four</div>
        <div *ngSwitchDefault >No Number</div>
      </div>
    </div>
  </div>-->

  <div class="card card-block" appCardHover>
    testing
  </div>

  <input type="button" on-click='togglevisibilty()' value="Show Menu">  
<div *ngIf='showdiv'> 
      <ul class="list-group">
      <li class="list-group-item"><a href="#">First item</a></li>
      <li class="list-group-item"><a href="#">Second item</a></li>
      <li class="list-group-item"><a href="#">Third item</a></li>
    </ul>
</div> {{showdiv==true?sampletext:""}} 