<!--<div class="row">
  <div class="col-md-12" [ngClass]="{card : false, jumbotron: true  }">
    <h1 class="text-muted">Welcome to site</h1>    
  </div>
</div>
<div class="row" [ngStyle]="myStl">
  <div class="col-md-12" [ngStyle]="{border : '1px solid red'}">
    <h1>directive examples</h1>
  </div>
</div>-->

<h1>My First Attribute Directive</h1>

<h4>Pick a highlight color</h4>
<div>
  <input type="radio" name="colors" (click)="color='lightgreen'">Green
  <input type="radio" name="colors" (click)="color='yellow'">Yellow
  <input type="radio" name="colors" (click)="color='cyan'">Cyan
</div>
<p [appHighlight]="color">Highlight me!</p>

<p [appHighlight]="color" defaultColor="violet">
  Highlight me too!
</p>
<input type="text" [appHighlight]="color">

   <!-- <div class="row">
     <p  [appNavbardemo]="color">Angular Nav Example</p>
      <ul>
          <li><a>Home</a></li>
          <li ><a>About</a></li>
          <li ><a>Help</a></li>
      </ul>
    </div>
  -->
  
  <!--<dropdown placeholder="Colour..." list="colours" selected="colour" property="name"></dropdown>-->
